* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cornsilk;
}

#solitaireCanvas {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#spiderPlayArea {

}

.spiderPlayAreaCol {
    position: relative;
    min-width: 80px;
}

#spiderDealArea {

}

#spiderDealAreaCol0 {

}

#spiderDealAreaCol2 {

}

.testCard {
    position: absolute;
    min-width: 70px;
    min-height: 100px;
    border: 1px solid black;
}

.testCardUp {background-color: white;}
.testCardDown {background-color: red;}